<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br>
<%= link_to "Edit Article", edit_article_path(@article) %>
<br>
<%= link_to 'Delete Article', article_path(@article), method: :delete, data: {confirm: "Really delete this? You can't have it back."} %>
<br>
<%= link_to '<-- Back to Articles Index', articles_path %>
